<div class="list-group">
    <a href="/admin" class="list-group-item list-group-item-action active" aria-current="true">
        Home
    </a>
    <a href="/admin/bookings" class="list-group-item list-group-item-action">Bookings</a>
    <a href="/admin/contact-us" class="list-group-item list-group-item-action">ContactUs</a>
    <a href="/admin/users" class="list-group-item list-group-item-action">Users</a>
    <a href="/admin/cars" class="list-group-item list-group-item-action">Cars</a>
    <a href="/admin/testimonails" class="list-group-item list-group-item-action">Testionials</a>
</div>